/* This is a universal selector */
* {
  margin: 0;
  padding: 0;
}

/* Body styling */
/* Font families availabel for CSS code 
font-family: 'Amatic SC', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu Mono', monospace;
*/
body {
  background-color: #efefef;
  font-family: 'Roboto', Helvetica;
  font-size: 16px;

}

/* top navigation class, color, hover*/
header {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
header>a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

/* Change the color of links on hover */
header>a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.container_01 {
  margin: 1% 10%;
  text-align: center;
}

h1._01_top {
  width: 100%;
  text-align: center;
}