/* importing other css files */
@import url(images.css);

/* Importing special styles trial */

/* This is a universal selector */
* {
  margin: 0;
  padding: 0;
}

/* Body styling */
/* Font families availabel for CSS code 
font-family: 'Amatic SC', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu Mono', monospace;
*/
body {
  background-color: #efefef;
  background-image: url(../img/Background_01/00Background_01.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/* Logo on the top left of navigation bar */
#logo-img-nav {
  background-image: url("../img/IMG_2459.jpg");
  height: 30px;
  width: 30px;
}
/* inside offcanvas */
#offcanvasNavbarLabel {
  color: white;
}
